---
import type { CollectionEntry } from "astro:content";
import { getPostUrlBySlug } from "@utils/url-utils";
import LinkCard from "./LinkCard.astro";

const { links } = Astro.props;

let delay = 0;
const interval = 50;
---
<div class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4">
    {links.map((entry: CollectionEntry<"links">) => (
        <LinkCard
                entry={entry}
                title={entry.data.title}
                tags={entry.data.tags}
                published={entry.data.published}
                url={entry.data.url}
                image={entry.data.image}
                description={entry.data.description}
                beta={entry.data.beta}
                class:list="onload-animation"
                style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
        ></LinkCard>
    ))}
</div>